.inline {
  display: inline-block;
  vertical-align: top;
}

.w-half {
  width: 50%;
}

.m-left-s {
  margin-left: 10px;
}

.info-container {
  font-size: 1rem;
  white-space: pre-wrap;
  background-color: rgb(31, 31, 31);
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(55, 55, 55);
}

.series-title {
  font-size: 1rem;
  font-weight: bold;
  width: fit-content;
  padding: 5px;
  vertical-align: middle;
  height: 20px;
  background-color: #4f704a;
  border-radius: 5px;
  border: 1px solid lightgreen;
}

.one-title {
  font-size: 1rem;
  font-weight: bold;
  width: fit-content;
  padding: 5px;
  vertical-align: middle;
  height: 20px;
  background-color: #85bf7c;
  border-radius: 5px;
  border: 1px solid lightgreen;
}

.physical-title {
  font-size: 1rem;
  font-weight: bold;
  width: fit-content;
  padding: 5px;
  vertical-align: middle;
  height: 20px;
  background-color: #4a5c70;
  border-radius: 5px;
  border: 1px solid rgb(144, 196, 238);
}

.mat-dialog-actions {
  float: right;
  margin: 0;
  padding: 0;
}