<mat-toolbar class="app-toolbar">
  <span>
    <mat-icon
      style="display: inline; margin-right: 10px"
      fontSet="fa-brands"
      fontIcon="fa-xbox"
    ></mat-icon
    >{{ title }}</span
  >
  <mat-form-field class="search-game" floatLabel="never">
    <input matInput placeholder="Search..." type="text" [(ngModel)]="filter" />
  </mat-form-field>
</mat-toolbar>
<div class="content">
  <div
    class="grid"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayout="row wrap"
    fxLayoutGap="10px"
    ngClass.gt-xs="ml-10"
  >
    <ng-template ngFor let-game [ngForOf]="filterGamesByTitle()" let-i="index">
      <mat-card
        class="mat-elevation-z4"
        fxFlex.sm="0 1 calc(33%-10px)"
        fxFlex.md="0 1 calc(25%-10px)"
        fxFlex.gt-md="0 1 calc(18%-10px)"
        (click)="openDialog(game)"
      >
        <img mat-card-image src="{{ game.Img }}" />
        <mat-card-content>
          <p class="game-title">
            {{ game.Title }}
          </p>
          <mat-chip-list>
            <mat-chip
              *ngIf="game.SeriesXInfo"
              style="background-color: #4f704a"
            >
              Series X|S
            </mat-chip>
            <mat-chip *ngIf="game.OneInfo" style="background-color: #85bf7c">
              One
            </mat-chip>
            <button *ngIf="game.Info" mat-icon-button>
              <mat-icon
                style="transform: scale(1.5)"
                fontSet="fa"
                fontIcon="fa-compact-disc"
              ></mat-icon>
            </button>
          </mat-chip-list>
        </mat-card-content> </mat-card
    ></ng-template>
  </div>
</div>
