
.content {
  padding-top: 50px;
  margin: auto;
  width: 75%;
}

mat-card {
  margin-bottom: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: #252526;
  border-radius: 20px;
}

mat-card:hover {
  border: 3px solid #107c10;
  cursor: pointer;
}

img {
  border-radius: 20px;
}

.game-title {
  font-size: 1.2rem;
}

.search-game {
  margin-left: auto;
}

::ng-deep.mat-dialog-container {
  background-color: #141414cb !important;
  backdrop-filter: blur(15px);
  border-radius: 15px !important;
  min-width: 600px;
  max-width: 1000px;
}

::ng-deep.mat-form-field-underline {
visibility: hidden;
}

::ng-deep.mat-form-field-wrapper {
  margin-bottom: 0px !important;
  padding-top: 0.5rem;
  margin-right: 30px;
}

::ng-deep.mat-form-field-label {
  padding-top: 0.5rem;
  padding-left: 20px;
}

input {
  margin-right: 20px;
  vertical-align: middle;
  padding: 10px;
  background-color: #111111;
  border-radius: 20px;
}


